<nav>
  <div class="navbar">
    <div class="container nav-container">
      <div class="logo">
        <h2 class="logo-text {% if background=="dark" %}logo-text-darkbg{% endif %}">Han Min | 韩 敏 {% if env.environment=="testing" %}test{% endif %}</h2>
      </div>
      <input class="checkbox" type="checkbox" name="" id="" />
      <div class="hamburger-lines">
        <span class="line{% if background=="dark" %}-white{% endif %} line1"></span>
        <span class="line{% if background=="dark" %}-white{% endif %} line2"></span>
        <span class="line{% if background=="dark" %}-white{% endif %} line3"></span>
      </div>
      <div class="menu-items">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/contact/">Contact</a></li>
      </div>
    </div>
  </div>
</nav>
