:root {
  
  /* TYPOGRAPHY VARIABLES */

  /* @link https://utopia.fyi/type/calculator?c=500,19,1.125,1140,21,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */  
  
  --step--2: clamp(0.8rem, 0.5rem + 0.7vw, 1.2rem); /*altered step -2*/
  --step--1: clamp(1.06rem, 1.11rem + -0.18vw, 0.98rem);
  --step-0: clamp(1.19rem, 1.09rem + 0.31vw, 1.31rem);
  --step-1: clamp(1.34rem, 1.01rem + 0.7vw, 1.75rem); /*altered step 1*/
  --step-2: clamp(1.50rem, 0.86rem + 1.5vw, 2.33rem); /*altered step 2*/
  --step-3: clamp(1.69rem, 0.58rem + 3.55vw, 3.11rem);
  --step-4: clamp(1.90rem, 0.15rem + 5.60vw, 4.14rem);
  --step-5: clamp(2.14rem, -0.50rem + 8.46vw, 5.52rem);
  --step-6: clamp(2.41rem, -1.46rem + 12.39vw, 7.36rem);


  --h1-size: var(--step-5);
  --h2-size: var(--step-3);
  --h3-size: var(--step-2);
  --h4-size: var(--step-1);
  --h5-size: var(--step-0);
  --h6-size: var(--step--2);
  --p-size: var(--step-0);
  --ul-size: var(--step-0);
  --bq-size-large: var(--step-1);
  --bq-size-normal: var(--step-0);
  --bq-size-small: var(--step--1);
  
  
  /* LAYOUT VARIABLES */
  --padding-edge: 20px;

  /* @link https://utopia.fyi/space/calculator?c=600,220,1.125,1500,340,1.25,6,2,&s=,,s-s 
  to responsively scale main COVER IMAGE SIZE from 240px width min to 300px width max */
  
  --fluid-min-width: 600;
  --fluid-max-width: 1700;

  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));  
    
  --fc-s-min: (var(--f-0-min, 240)); 
  --fc-s-max: (var(--f-0-max, 300));

  /* T-shirt sizes */
  --space-s: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp));
  /* end of responsive size scaling */
  
  
  /* COLOUR VARIABLES */  
  --color-text: black /* hsl(4, 0%, 23%) */;
  --color-nav: black /* hsl(4, 0%, 14%) */;
  --color-nav-darkbg: white;
  --color-bg: hsl(50, 60%, 91%);
  --color-accent: hsla(54, 100%, 57%, 1);
  --color-accent-hover: hsla(54, 100%, 40%, 0.5);
  --color-footer: white hsl(4, 0%, 95%);

}

@media (min-width: 700px) {                             
  :root {
    --padding-edge: 40px;
  }
}


/* TYPOGRAPHY CSS STYLING MODULE */

html {height:100%} /*needed to stick footer to bottom */
body {
  margin: 0;
  font-family: sans-serif, Garamond, Georgia, serif;
  background-color: var(--color-bg);
  height: 100%; /*needed to stick footer to bottom */
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 1em 0 0.8em 0;
  padding: 0;
  color: var(--color-heading-text);
  transition: var(--color-transition);
}

h1 {
  font-size: var(--h1-size);
  transition: var(--ftsize-transition);
  letter-spacing: -1px;
  line-height: 1.1;
}

h2 {
  font-size: var(--h2-size);
  transition: var(--ftsize-transition);
  line-height: 1.15;
  letter-spacing: -1px;
}

h3 {
  font-size: var(--h3-size);
  transition: var(--ftsize-transition);
  line-height: 1.2;
  letter-spacing: -1px;
}

h4 {
  font-size: var(--h4-size);
  transition: var(--ftsize-transition);
  line-height: 1.3;
}

h5 {
  font-size: var(--h5-size);
  transition: var(--ftsize-transition);
  line-height: 1.3;
}

h6 {
  font-size: var(--h6-size);
  transition: var(--ftsize-transition);
  line-height: 1.4;
}

p {
  font-size: var(--p-size);
  transition: var(--ftsize-transition);
  line-height: 1.4;
  color: var(--color-text);
  transition: var(--color-transition);
}
a {
  color:var(--color-text);
}
a:hover {
  color:black;
  background-color:var(--color-accent);
}

hr {
  border: 0;
  border-top: 1px solid var(--color-text);
  margin: calc(2 * var(--padding-edge)) var(--padding-edge) var(--padding-edge) 0;
}

/* TO STICK FOOTER TO BOTTOM */
.flex-column {
  display: flex;
  flex-direction: column;
}
nav {flex-shrink: 0;}
main {flex: 1 0 auto;}
footer {flex-shrink:0;
  padding:10px var(--padding-edge);
  margin-top: 20px;
  background-color: var(--color-footer);
}
/* END OF TO STICK FOOTER TO BOTTOM */


/* CONTAINER FOR TEXT */
article {
  padding: var(--padding-edge);
  margin: auto;
  max-width: 650px; /* setting a max width here allows headers to stretch further out to the right compared to p text */
}

article p {
  max-width: 40ch; /* max p text width of 40 characters */
}
/* END OF CONTAINER FOR TEXT */

/* SPLASH PAGE PAGE CSS */
.image_fullpage {
  width: 120%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left:-20%;
  z-index: -1;
  background-color: #4A442E;
}
 @media (max-width: 550px) {                             
  .image_fullpage {
    width:750px;
    left:30%;
    transform:translate(-50%, 0)
  }
}
.splash_enter_link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  color: white;
  font-size: var(--h3-size);
  border-radius: 8px;
  text-decoration: none;
  background-color: hsla(100, 100%, 100%, 0.3);
  transition: background-color 0.1s ease-in-out;
}
.splash_enter_link:hover {
  background-color: hsla(100, 100%, 100%, 0.4);
  color:white;
}
/* END OF SPLASH PAGE CSS */

/* ABOUT PAGE CSS */
.image-position {
  position:relative;
  height: 300px;
  margin-top: var(--padding-edge);
  margin-bottom: calc( 2 * var(--padding-edge) );
  margin-left: calc( -1 * var(--padding-edge) );
  overflow: visible;
}
.image-portrait {
  position:absolute;
  width: 300px;
  max-width: 100%;
  display: block;
  left: 0;
  margin:auto;
  z-index:1;
  border: 4px solid black;
}
.image-fullwidth-right {
  position:absolute;
  top:0;
  left:300px;
  width: 60vw;
  max-width: calc( 100vw - 300px);
  height: 300px;
  object-fit:cover;
  object-position: 0px 20%;
  z-index:0;

}
.image-fullwidth-left {
  position:absolute;
  top:0;
  right:0;
  width: 100vw;
  height: 300px;
  object-fit:cover;
  object-position: 29vw 45%;
  z-index:-1;
  transform: scaleX(-1);
}
/* shows signature
.image-fullwidth-left {
  position:absolute;
  top:0;
  right:400px;
  width: 100vw;
  height: 300px;
  object-fit:cover;
  object-position: 58vw 66%;
  z-index:2;
  transform: scaleX(1);
} */
/* END OF ABOUT PAGE CSS */

.btn {
  padding: 10px 30px;
  text-decoration: none;
  margin-top: var(--padding-edge);
  margin-right: var(--padding-edge);
  text-align: center;
  display: inline-block;
}
.btn-dark {
  color: black;
  border: solid 3px black;
}
.btn-dark:hover {
  background-color: var(--color-accent);
}

/* GRID FOR PORTFOLIO - VARIABLE HEIGHT IMAGES */
.grid-portfolio {
  column-count: auto;
  column-width: 300px;
  column-fill: balance; /* not currently supported but worth a go */
  column-gap: 10px;
  max-width: 1220px;
  padding: calc( var(--padding-edge) * 2) 0;
  display: block;
  margin-inline: auto;
/* display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
 */
}
.grid-portfolio-cell {
  position:relative;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}
.grid-portfolio-cell-large {
  height: 750px;
/*  max-height: 820px; */
}

.grid-portfolio-link-text-hidden {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:white;
  visibility: hidden;
  font-size: var(--h4-size);
}
.main-link:hover .grid-portfolio-link-text-hidden {
  visibility:visible;
}
.main-link::before {
  content: "";
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
  transition: background-color 130ms ease-in-out;
}
.main-link:hover::before {
  visibility: visible;
  background-color: var(--color-accent-hover);
  cursor: pointer;
}
.grid-image-cover {
  width: 100%;
  height: 100%;
/*  max-height: 400px; */
  object-fit: cover;
}
/* END OF GRID FOR PORTFOLIO - VARIABLE HEIGHT IMAGES */


/* PORTFOLIO SINGLE PAGES */
.image-post {
  width: 800px;
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  margin-inline: auto;
}
.post-title {
  text-align: center;
  padding-top: calc( var(--padding-edge) * 2 );
  font-size: var(--h4-size);
}
/* END OF PORTFOLIO SINGLE PAGES */


/* #### NAVBAR V2 STYLING #### */
.nav-flex {
  display: flex;
  flex-direction: row;
  margin: 20px var(--padding-edge) 20px var(--padding-edge);
  height: 62px;
  align-items: start;
}
.nav-logo {margin-top:0;}
.nav-flex a {text-decoration: none;}
.color-text-lightbg a {color:var(--color-text);}
.color-text-darkbg a {color:var(--color-nav-darkbg);}
.nav-menu a {
  position: relative;
  font-size: var(--h3-size);
  margin-inline: 10px;
  padding-inline: 10px;
}
.color-text-darkbg a:hover{color:var(--color-text);}

[aria-current] {
  background-color:var(--color-accent);
}
[aria-current]::before {
  content:"•";
  position: absolute;
  padding-left:5px;
  left: -0.5em;
  background-color:var(--color-accent);
}
@media (max-width: 800px) {
  .nav-flex {
    margin-bottom: 70px;
  }
  .nav-menu {
    display:flex;
    flex-direction:column;
    align-items: start;
  }
  .nav-menu a {
    line-height:1.5;
    margin-bottom: 10px;
  }
}
/* #### END OF NAVBAR V2 STYLING #### */



.font-small {font-size: var(--step--1);}
.padding-top-none {padding-top:0px;margin-top:0px;}
.fix-children {position:relative;}
.text-center {text-align: center;}
.margin-center {margin-inline: auto;}
.flex-grow {flex-grow:1;}
.color-text-darkbg {color: var(--color-nav-darkbg);}